@font-face {
  font-family: vazir;
  src: url(../assets/fonts/Vazir-Regular.woff) format('woff');
}

* {
  font-family: 'vazir' !important;
}

/* FIXME: overwrite on theme  */
a {
  color: #fff !important;
}
