@font-face {
  font-family: vazir;
  src: url(../assets/fonts/Vazir-Regular.woff) format('woff');
}

* {
  font-family: 'vazir' !important;
}
#root {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height: 100% !important;
  text-align: center;
}
a {
  color: #fff !important;
}
